<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.javainis.reports.mybatis.model.Survey" alias="Survey"/>
        <typeAlias type="com.javainis.reports.mybatis.model.Answer" alias="Answer"/>
        <typeAlias type="com.javainis.reports.mybatis.model.Question" alias="Question"/>
        <typeAlias type="com.javainis.reports.mybatis.model.Choice" alias="Choice"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <!--<property name="data_source" value="java:global/StudentsDataSource"/>-->
                <property name="data_source" value="openejb:Resource/SurveyDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/xml/AnswerMapper.xml"/>
        <mapper resource="mybatis/xml/SurveyMapper.xml"/>
        <mapper resource="mybatis/xml/QuestionMapper.xml"/>
    </mappers>
</configuration>