.blockColumn, .typeColumn{
    width: 12%;
}

.emailColumn{
    width: 28%;
}

.fieldPanel{
    margin: 10px 10px 10px 10px;
    width: 65%;
}

.buttonColumn{
    margin:auto;
    display:block !important;
}

.dynamicButton{
    width: 80%;
}

.previewPanel{
    margin-top:5px;
    margin-left:3%;
    margin-bottom:10px;

}

.surveyPanel{
    margin-left:3%
}

.newSurveyField{
    width: 99%;
}

.surveyDesc{
    vertical-align: text-top;
}

.ui-widget{
    font-size: 1em;
}
