<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javainis.reports.mybatis.dao.AnswerMapper">
  <resultMap id="AnswerResultMap" type="com.javainis.reports.mybatis.model.Answer">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="result_id" jdbcType="BIGINT" property="resultId" />
    <result column="question_id" jdbcType="BIGINT" property="questionId" />
    <discriminator javaType="java.lang.String" column="answer_type">
      <case value="T" resultMap="TextAnswerResultMap"/>
      <case value="N" resultMap="NumberAnswerResultMap"/>
      <case value="C" resultMap="SingleChoiceAnswerResultMap"/>
      <case value="M" resultMap="MultipleChoiceAnswerResultMap"/>
    </discriminator>
  </resultMap>

  <resultMap id="TextAnswerResultMap" type="com.javainis.reports.mybatis.model.TextAnswer" extends="AnswerResultMap">
    <result column="text_answer" jdbcType="VARCHAR" property="text"/>
  </resultMap>
  <resultMap id="NumberAnswerResultMap" type="com.javainis.reports.mybatis.model.NumberAnswer" extends="AnswerResultMap">
    <result column="number_answer" jdbcType="INTEGER" property="number"/>
  </resultMap>
  <resultMap id="SingleChoiceAnswerResultMap" type="com.javainis.reports.mybatis.model.SingleChoiceAnswer" extends="AnswerResultMap">
    <result column="choice_id" jdbcType="BIGINT" property="choiceId"/>
  </resultMap>
  <resultMap id="MultipleChoiceAnswerResultMap" type="com.javainis.reports.mybatis.model.MultipleChoiceAnswer" extends="AnswerResultMap">
    <collection property="choiceIds" javaType="ArrayList" ofType="java.lang.Long" columnPrefix="choices_">
      <result column="choice_id"/>
    </collection>
  </resultMap>
</mapper>