<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javainis.reports.mybatis.dao.SurveyMapper">
  <resultMap id="BaseResultMap" type="com.javainis.reports.mybatis.model.Survey">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="url" jdbcType="CHAR" property="url" />
    <result column="user_id" jdbcType="BIGINT" property="authorId" />
    <result column="public" jdbcType="BOOLEAN" property="isPublic"/>
    <result column="result_count" jdbcType="BIGINT" javaType="java.lang.Long" property="surveyResultCount"/>

    <collection property="questions" javaType="ArrayList" column="id" ofType="Question" select="com.javainis.reports.mybatis.dao.QuestionMapper.selectBySurveyId"/>
  </resultMap>

  <select id="selectByUrl" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
      s.id,
      s.name,
      s.description,
      s.url,
      s.user_id,
      s.public,
      COUNT(sr) as result_count
    FROM public.survey s
      LEFT JOIN survey_result sr ON s.id = sr.survey_id
    WHERE s.url = #{url,jdbcType=CHAR} AND sr.complete = TRUE
    GROUP BY s.id
  </select>
</mapper>